<launch>

  <arg name="serial_no" default="4104657655" />
  

  <param name="/Serial_NO" type="string" value="4104657655"/>
  <param name="/framRate" value="20"/>
  <param name="/exposureTime" value="14990"/>
  <param name="/Gamma" value="2"/>
  
  <arg name="config" default="$(find ids_peak_cam)/launch/params/cam_params.yaml" />
  <arg name="camera_intrinsics_file" default="$(env HOME)/janphilip/.ros/camera_info/$(arg serial_no).yaml"/>
  <arg name="node_name" default="ids_peak_cam_node_2" />
  
  
  <node pkg="ids_peak_cam"  type="ids_peak_cam_node_2" name="$(arg node_name)" output="screen">
        <rosparam command="load" file="$(arg config)"/>
        <param name="camera_intrinsics_file" type="string" value="$(arg camera_intrinsics_file)"/>
  </node>
  
</launch>

